main {
  font-size: 0;
  background-image: url(https://d3jtzah944tvom.cloudfront.net/202/images/lesson_3/gradient-background.png);
}

figure {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  margin: 50px 0;
  padding: 0 50px;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  font-size: 1rem;
}