body {
  margin-left: 25px;
  width: 600px;
}

ul {
  padding-left: 0;
}

#morning {
  font-weight: bold;
}

#afternoon_title {
  color: blue;
}

#afternoon {
  font-style: italic;
}

#evening {
  color: purple;
}

li {
  list-style-type: none;
}